{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}! 
        <p><a href="{% url 'logout' %}">Log Out</a></p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button">EXPLORE THE SHOP</a></p>
    {% else %}
        <div class="card">
        <div class="card-body">
            <h1>About & key features</h1>
            <li>1. Create a Registration and Login Page for users.
                
            </li>
            <li>2. Users should be able to add things to the cart and On the Cart Page, each product image and amount should be displayed.
                
            </li>
            <li>3. Create a post
                
            </li>
            <li>4. While adding each item on the cart the total Quantity should add up and on the deletion of an item from the cart it should be subtracted from the total.
                
            </li>
            <li>5: A page to add, edit/update, and remove the item from the database is required.

            <li>You are not logged in- Please Logged In</li>
        <a href="{% url 'login' %}">Log In</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
        </div>
        </div>
    {% endif %}
{% endblock content %}